@font-face {
  font-family: Gotham-Black;
  src: url(../fonts/Gotham-Black.ttf);
}

@font-face {
  font-family: Gotham-Thin;
  src: url(../fonts/Gotham-Thin.ttf);
}

@font-face {
  font-family: Gotham-Ultra;
  src: url(../fonts/Gotham-Ultra.ttf);
}

@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/Gotham-Book.ttf);
}



body{
	font-family: Arial, Helventica, sans-serif;
	line-height: 1.5;
	font-size: 15;
	padding: 0;
	margin: 0;
	background-color: white;
}


/*GLOBAL*/
.placeholder{	
	width: 90%;
	margin: auto;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul{
	margin: 0;
	padding: 0;
}


/*HEADER*/
header{
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 50px;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: 5px solid #E2E1E2;
	padding-top: 10px;
	min-height: 85px;
	box-shadow: 0 1px 25px 0 rgba(1,1,1,0.2);
}

header .header_navbar{
	display: flex;
	justify-content: space-between;
	width: 95%;
}

header a{
	color: #089CFE;
	text-decoration: none;
	font-size: 1rem;

}



header li{
	padding: 0 1.5vw 0 1.5vw;
}

header #org_logo{
	padding-left: 10px;
}

header #org_logo img{
	width: 140px;
	padding: 0 0 0 5px;
}


header nav{
	margin-top: 40px;
	width: 50vw;
}

header nav ul{
	display: flex;
	list-style-type: none;
}

header #act_now{
	margin-top: 22px;

	
}

header .highlight, header .current a{
	color: #FE08BD;
	font-weight: bold;
}

header a:hover{
	color: #FE08BD;
}

header button{
	border: 1px solid #FE08BD;
	height: 40px;
	width: 8rem;
	border-radius: 5px;
	background: none;
	font-size: 1.5rem;
	color: #FE08BD;
}

header #act_now button:hover{
	background: #FE08BD;
	color: white;
	cursor: pointer;
	border: none;
}










/*mobile nav*/

* { outline: none; }

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span { color: #BF7497; }

main small {
  font-weight: 300;
  color: #888;
}

.button_nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.top_bar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: white;
  color: #FE08BD;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  	box-shadow: 0 1px 25px 0 rgba(1,1,1,0.2);
}


.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #800080;
  transition: .3s;
}

.icon-bar + .icon-bar { margin-top: 5px; }

#nav-container:focus-within .button_nav {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  overflow: scroll;
}


#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility 0s;
  background: #000;
}

#nav-container:focus-within .bg {
 visibility: visible;
 opacity: .6;
}

#nav-container * { visibility: visible; }

.top_bar img{
	position: fixed;
	right: 0px;
	top:0px;
	padding: 20px 4vw 0 0;
	width: 120px;
}

.top_bar h3{
	font-size: 6vw;

}


#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #800080;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  transition: color .1s;
  text-decoration: none;
}

#nav-content .indented li{
	margin-left: 20px;
	font-size: 0.7rem;
}


#nav-content  .big a{
	color: white;
	font-size: 1.2rem;
}


#nav-content li a:hover { color: #BF7497; }


#nav-content li:not(.small) + .small { margin-top: auto; }

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.small a + a { margin-left: 15px; }
 #nav-container:focus-within #nav-content {
 transform: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}














/*Dropdown setup*/
.dropbtn {

  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

/*DROPDOWN TEXT STYLING*/
.dropdown-content a {
  color: #20BCFE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


















/*HOMEPAGE*/
#homepage{	
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
	background: url(../pictures/homepage_imgs/home_pic_2.jpg) no-repeat;	
	background-size: cover;
	background-position: fixed;
	color: white;
	text-align: center;

}

#homepage .homepage_left_content{

	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;

}

#homepage .IDG2019{
	display: none;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 40vw;
	background: white;
	box-shadow: 0 10px 25px 5px rgba(1,1,1,0.5);
	padding: 5px;
	border-radius: 10px 0 0 10px;
	margin-top: 15vh;
}

#homepage .IDG2019 .girl_day_pic{
	height: 120px;
	width: 120px;
	background: url('../pictures/misc/girl_day_pic.png') no-repeat;
	background-size: cover;
}

#homepage .IDG2019 h1{
	margin: 10px 10px 0 10px;
	font-size: 2rem;
	font-family: Gotham-Book;
	font-weight: bolder;

}

#homepage .IDG2019 .day_content{
	display: flex;
	align-items: center;
	margin: auto;
}

#homepage .IDG2019 h2{
	font-family: Gotham-Thin;
	color: black;
	font-size: 1rem;
	font-style: normal;
}

#homepage .IDG2019 button{
	background: black;
	color: white;
	border: none;
	padding: 8px;
	border-radius: 5px;
	width: 150px;
	margin: 10px;
}

#homepage .IDG2019 button:hover{
	background: #FE08BD;
	cursor: pointer;
}

#homepage h1{
	font-family: Gotham-Black;
	margin-top: 55vh;
	font-size: 2rem;
	width: 80%;
	color: #FE08BD;
	
}

#homepage p{
	font-size: 1rem;
	font-family: Gotham-Thin;
	padding-bottom: 20px;
	width: 75%;
	color: #20BCFE;
	padding: 20px;
}

#homepage img{
	margin-top: 35vh;
}


.btn_learn_more{
	height: 50px;
	background: none;
	border: 1px solid #FE08BD;
	padding-left: 30px;
	padding-right: 30px;
	color: #FE08BD;
	border-radius: 3px;
	font-size: 2rem;
	cursor: pointer;
	font-family: Gotham-Thin;
}

.btn_learn_more:hover{
	background: #FE08BD;
	font-weight: bold;
	border:none;
	color: white;
}


.scroll-indicator {
	display: none;	
	position: absolute;
	padding-top: 75vh;
	left: 48%;
	font-size: 30px;
	-webkit-animation: bounce 2s infinite; 
	animation: bounce 2s 2.5;
}

@-webkit-keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}

@keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}




/*ORG INTRO*/
#org_intro{	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	background: #ffff;
	/* padding: 80px 5px 10px 5px; */
}

#org_intro .quote{
	font-size: 40px; 
	padding: 20px;
}

/*BOX*/

#org_intro .box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*align-items: flex-start;*/
	margin: 20px;
	padding: 20px;
}

#org_intro .box h3{
	padding: 10px;
}


#org_intro .box .box_mission{	
	background: url(../pictures/misc/mission.jpg) no-repeat;
	background-size: cover;
	flex-basis: 33%;
	text-align: center;
	padding: 20px ;
}

#org_intro .box .box_vision{
	background: url(../pictures/misc/vision.jpg) no-repeat;
	background-size: cover;
	flex-basis: 33%;
	text-align: center;
	padding: 20px ;
}

#org_intro .box .box_goals{
	background: url(../pictures/misc/goals.jpg) no-repeat;
	background-size: cover;
	flex-basis: 33%;
	text-align: center;
	padding: 20px ;
}


#org_intro .intr_txt{
	flex: 1;
	padding: 0px 1vw 20px 1vw;
	text-align: center;
}







/* video_launch */
#video_launch{
	display: flex; 
	flex-wrap: wrap;
	position: relative;
	min-height: 400px;
	z-index: 1;
}

#video_launch .vid{
	width: 60%;
	z-index: 1;
}

#video_launch .info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	position: relative;
	background: #F2F1F1;
	box-sizing: border-box;
	height: 400px;
	width: 40%;
}

#video_launch .info:after{
	position: absolute;
	z-index: -1;
	width: 50px;
	height: 50px;
	top: 40%;
	left: -4%;
	content: "";
	background: #F2F1F1;
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
    -moz-transform: rotate(45deg);   /* Firefox */
    -ms-transform: rotate(45deg);   /* IE 9 */
    -o-transform: rotate(45deg);   /* Opera */
    transform: rotate(45deg);
}

#video_launch .info h3{
	font-size: 5rem;
	font-family: Gotham-Thin;
	font-weight: normal;
	color: #800080;
	text-align: center;
}

#video_launch .info h4{
	font-size: 1.5rem;
	font-family: Gotham-Thin;
	font-weight: normal;
	text-align: center;
	line-height: 0.8;
	padding-bottom: 15px;
}

#video_launch .info h5{
	font-size: 2rem;
	display: none;
}





/*FEATURED STORIES*/
#featured_stories{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	background: #800080;
	padding: 50px;
	color: white;
	text-align: center;
	width: 100%;

}

#featured_stories p{
	font-style: italic;
	font-size: 0.8rem;
}


#featured_stories .story_boxes{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#featured_stories .story_boxes h6{
	font-family: Gotham-Thin;
	font-size: 2rem;
	font-weight: normal;
	padding-top: 10px;
}

#featured_stories .story_boxes a{
	text-decoration: none;
	color: #FE08BD;
}

#featured_stories .story_1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 45%;
	border-bottom: 20px;
	padding: 10px 15px 10px 15px;
}


#featured_stories .girl_1{
	background: url('../pictures/misc/girl_1.jpg') no-repeat;
	background-size: cover;
	border-radius: 50%;
	width: 17rem;
	height: 17rem;	
}

#featured_stories .story_2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 45%;
	border-bottom: 20px;
	padding: 10px 15px 10px 15px;
}

#featured_stories .girl_2{
	background: url('../pictures/misc/girl_2.jpg') no-repeat;
	background-size: cover;
	border-radius: 50%;
	width: 17rem;
	height: 17rem;	
}


/*WHAT WE DO*/
#what_we_do{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	text-align: center;
	background: #E5E4E5;
	padding: 100px 2px 80px 2px;

}

#what_we_do h3{
	padding-bottom: 20px;
	font-size: 30px;
}

#what_we_do .areas_of_work_boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#what_we_do .areas_of_work_boxes p{
	font-size: 0.8rem;
}

#what_we_do .areas_of_work{
	padding: 3px;
	flex-basis: 100px;	
	color: #505050;
}

#what_we_do .areas_of_work i {
	font-size:60px;
	color: #868686;
}

#what_we_do .why_we_do p{

	padding: 10px 2vw 10px 2vw; 
}

#what_we_do .why_we_do h3{
	font-size: 30px; 
	font-weight: normal; 
	padding-top: 80px;
}











/*FXED PIC*/

#fixed_pic{
	background-image: url("../pictures/homepage_imgs/home_pic4.jpg");
	background-attachment: fixed;
	height: 60vh;
	background-position: center;
	background-size: cover;
}






/*I AM RESPONSIBLE*/

#i_am_responsible{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FE08BD;
	padding: 80px 10px 80px 10px;
	color: white;
	width: 100%;

}

#i_am_responsible .i_am_responsible_info{
	flex-basis: 70%;
	order: 2;
	padding: 0px 0px 0px 20px;
}

#i_am_responsible .i_am_responsible_info p{
	text-align: justify;
}

#i_am_responsible .i_am_responsible_pic{
	order: 1;
	background: url(../pictures/misc/responsible.jpg) no-repeat;
	background-size: cover;
	width: 15rem;
	height: 15rem;
	box-shadow: 5px 5px 7px 0 rgba(1,1,1,0.5);
	border-radius: 15px;
}

/*TEAM*/
#team{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	
	text-align: center;
	background: white;
	margin: auto;
	width: 100%;
	
}

#team .team_leadership{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

#team .the_team{
	flex-basis: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#team .the_team h4{
	padding-top: 10px;
}

#team .the_team .chairperson{
	background: url(../pictures/homepage_imgs/moses.jpg) no-repeat;
	background-size: cover;
	width: 10rem;
	height: 10rem;
	box-shadow: 3px 5px 3px 0 rgba(1,1,1,0.2);
	border-radius: 50%;	
}


#team .the_team .secretary{
	background: url(../pictures/homepage_imgs/domtila.jpg) no-repeat;
	background-size: cover;
	width: 10rem;
	height: 10rem;
	box-shadow: 3px 5px 3px 0 rgba(1,1,1,0.2);
	border-radius: 50%;	
}

#team .the_team .treasurer{
	background: url(../pictures/story.jpg) no-repeat;
	background-size: cover;
	width: 10rem;
	height: 10rem;
	box-shadow: 3px 5px 3px 0 rgba(1,1,1,0.2);
	border-radius: 50%;	
}

.btn_team{
	background: none;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	height: 50px;
	font-size: 20px;
	font-family: Gotham-Thin;
	margin-bottom: 50px;

}

.btn_team:hover{
	background: black;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 30px;
}





/*PARTNERS*/
#partners{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	background: #E5E4E5;
	padding-top: 50px;
	width: 100%;
	min-height: 200px;
	margin: auto;
	/*background: #00FF00;*//*Lime*/
}

#partners h3{
	font-weight: normal;
	font-size: 2rem;
	padding: 0 10px 10px 10px;
}

#partners .partners_list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

#partners .the_patners{
	flex-basis: 120px;
}







/*CONNECT*/
#connect{
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #ffff;
	padding:80px 10px 80px 10px;
	justify-content: center;
 	align-items: center;
	width: 100%;
}

#connect .social_connect_boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

#connect .social_connect_boxes a{
	text-decoration: none;
	color: currentColor;
}

#connect .social_connect_facebook{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	background: #EFEEEE;
 	color:#3b5998;
}

#connect .social_connect_twitter{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	background: #EFEEEE;
 	color:#1da1f2;
 	margin: 0 20px 0 20px;
}

#connect .social_connect_instagram{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	background: #EFEEEE;
 	color:#ff0000;
}

#connect .social_connect{
	font-size:40px;
}

#connect .social_connect:hover{
	background: #FE08BD;
	color: white;

}


#connect h6{
	font-size: 3rem;
	font-weight: normal;
	font-family: Gotham-Thin;
}











/*ABOUT US*/












#about_homepage{
	display: flex;
	justify-content: center;	
	height: 10vh;
	padding: 20px;
	color: white;
}

#about_homepage .about_home{

}

#about_homepage .about_home h1{
	padding: 10vh 0px 20px 0px;
	font-family: Gotham-Thin;
	font-size: 6vw;
	font-weight: normal;
}




/*page_title*/

#page_title{
	padding: 30px 0px 30px 0px;
	text-align: center;
	
}

#page_title h2{
	font-family: Gotham-Thin;
	font-weight: normal;
	font-size: 50px;
}






/*background*/

#background{
	padding: 10px 50px 80px 50px;

}

#background .background_background h3{
	padding: 20px 0px 10px 0px;

}

#background .background_background ul{
	padding-left: 2vw;
}

/*advocacy*/

#advocacy{
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 30px 80px 30px;
}

#advocacy h3{
	font-size: 50px;
	font-weight: normal;
	font-family: Gotham-Thin;
	/*color: #089CFE;*/
	color: #FE08BD;
}

#advocacy .advocacy_boxes_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#advocacy .advocacy_boxes_container .advocacy_boxes{
	flex-basis: 30%;
	padding: 10px;
}

#advocacy .advocacy_boxes_container .advocacy_boxes p{
	font-family: Gotham-Thin;
}

#advocacy .advocacy_boxes_container .advocacy_boxes h5{
	color: #FE08BD;
}




/*goals*/

#goals{
	display: flex;
	flex-direction: column;
	padding: 80px 10px 80px 10vw;
	background: #DCDCDC;
}

#goals h3{
	font-weight: normal;
	padding-bottom: 20px;
	font-size: 30px;
}

#goals .goals_list ul{
	list-style-type: disc;
}


/*team_about*/

#team_about{	
	display: flex;
	flex-direction: column;
	background: url(../pictures/homepage_imgs/home_pic.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	margin: auto;
	text-align: center;
	padding: 40px 20px 0px 20px;
	width: 100%;
	min-height: 500px;
}

#team_about h3{
	font-family: Gotham-Thin;
	font-weight: normal;
	padding: 30px 0 20px 0;
	font-size: 70px;
}

#team_about .team_about_mobile_pic{
	background: url(../pictures/homepage_imgs/home_pic.jpg) no-repeat;
	background-position: center;
	height: 100vw;
	display: none;	
}

#team_about .team_about_members{
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 25vw;
}

#team_about .team_about_members .team_Chairperson{
	padding: 10px;
	flex-basis: 45%;
	background: rgba(1, 0, 0, 0.5);
	border-radius: 20px 20px 0px 0px;
}

#team_about .team_about_members .team_Secretary{
	padding: 10px;
	flex-basis: 45%;
	background: rgba(1, 0, 0, 0.5);
	border-radius: 20px 20px 0px 0px;
}

#team_about .team_about_members .team_Treasurer{
	padding: 10px;
	flex-basis: 30%;
	background: rgba(1, 0, 0, 0.5);
	border-radius: 20px 20px 0px 0px;
}



/* team_members */
#team_members{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	padding: 50px 0 50px 0;
	width: 100%;
	min-height: 30vh;

}

#member1{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

#member1 h3{
	font-size: 2rem;
	font-family: Gotham-Book;
}

#member1 h4{
	font-size: 2rem;
	font-family: Gotham-Thin;
}

#member1 .member1_pic{
	background: url(../pictures/board_members/domtila2.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	margin: 10px;
}



#member2{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

#member2 h3{
	font-size: 2rem;
	font-family: Gotham-Book;
}

#member2 h4{
	font-size: 2rem;
	font-family: Gotham-Thin;
}

#member2 .member2_pic{
	background: url(../pictures/board_members/moses.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	margin: 10px;
}



#member3{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

#member3 h3{
	font-size: 2rem;
	font-family: Gotham-Book;
}

#member3 h4{
	font-size: 2rem;
	font-family: Gotham-Thin;
}

#member3 .member3_pic{
	background: url(../pictures/board_members/MaryAnn.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	margin: 10px;
}




#member4{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

#member4 h3{
	font-size: 2rem;
	font-family: Gotham-Book;
}

#member4 h4{
	font-size: 2rem;
	font-family: Gotham-Thin;
}

#member4 .member4_pic{
	background: url(../pictures/board_members/Gitonga.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	margin: 10px;
}






#member5{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

#member5 h3{
	font-size: 2rem;
	font-family: Gotham-Book;
}

#member5 h4{
	font-size: 2rem;
	font-family: Gotham-Thin;
}

#member5 .member5_pic{
	background: url(../pictures/board_members/Jane.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	margin: 10px;
}






#member6{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

#member6 h3{
	font-size: 2rem;
	font-family: Gotham-Book;
}

#member6 h4{
	font-size: 2rem;
	font-family: Gotham-Thin;
}

#member6 .member6_pic{
	background: url(../pictures/board_members/Jonathan.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	margin: 10px;
}














/* PRIVACY POLICY */
#p_policy{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 500px;
	padding: 20px;
	background: white;
	margin: 20px;
	text-align: justify;
}

#p_policy h2{
	font-family: Gotham-Thin;
	font-size: 4rem;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;
}

#p_policy li{
	font-weight: bold;
	padding-top: 20px;
}










/* terms_and_conditions */
#terms_and_conditions{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 500px;
	padding: 20px;
	background: white;
	margin: 20px;
	text-align: justify;
}

#terms_and_conditions h2{
	font-family: Gotham-Thin;
	font-size: 4rem;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;
}


#terms_and_conditions h3{
	font-family: Gotham-Thin;
	font-size: 2rem;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;
}












/* contact_page */

#contact_page{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0 80px 0;
	height: auto;
}
#contact_page a{
	text-decoration: none;
	color: black;
} 

#contact_page h4{
	padding-bottom: 10px;
}

#contact_page p{
	font-size: 0.8rem;
}

#contact_page h2{
	font-family: Gotham-Thin;
	font-size: 4rem;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;
}

#contact_page .contact_boxes{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	padding: 10px 30px 10px 30px;
}


#contact_page .contact_boxes .contact_box{
	background: #F6F5F5;
	min-height: 20vh;
	width: 30%;
	padding: 20px;
}











/* featured_story */

#featured_story{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 20px;
	width: 75%;
}

#featured_story .story .image_story1{
	background: url('../pictures/misc/girl_1.jpg') no-repeat;
	background-size: cover;
	height: 300px;
	width: 300px;
	float: left;
	margin-right: 20px;
}

#featured_story .story .image_story2{
	background: url('../pictures/misc/girl_2.jpg') no-repeat;
	background-size: cover;
	height: 300px;
	width: 300px;
	float: left;
	margin-right: 20px;
}

#featured_story .story .float_right{
	float: right;
}

#featured_story h2{
	font-family: Gotham-Thin;
	font-size: 3rem;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 20px;
}

#featured_story p{
	text-align: justify;
	font-size: 1.5rem;
}






/* join */
#join{
	min-height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#join h2{
	font-family: Gotham-Thin;
	font-size: 2rem;
	padding-top: 80px;
	font-weight: normal;
	text-align: center;
	padding: 0 20px 0 20px;
}

#join .join_options{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 60%;
	min-height: 100px;
	/* background: grey; */
	padding: 30px;
	color: white;
}

#join .join_options a{
	text-decoration: none;
	color: currentColor;
	flex-basis: 45%;	
}

#join .join_options .join_volunteer{
	background: #800080;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px 0 20px;
} 

#join .join_options .join_volunteer:hover{
	background: black;
	font-size: 1.1rem;
}

#join .join_options .join_donor{
	background: #FE08BD;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px 0 20px;
}

#join .join_options .join_donor:hover{
	background: black;
	font-size: 1.1rem;
}








/* volunteer */
#volunteer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	min-height: 200px;
	background: url(../pictures/misc/map_world.jpg) no-repeat center top;
	background-position: fixed;
}

#volunteer .volunteer_brief{
	padding: 20px;
}

#volunteer .form_holder{
	background: #FE08BD;
	border-radius: 45px 45px 0 0;
	width: 75vw;
}

#volunteer form{
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	color: white;
}

#volunteer form input[type=text]{
	width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
	  border: none;
  border-bottom: 2px solid white;
  padding: 10px;
  background: none;
  color: white;
  margin-bottom: 50px;
}

#volunteer form input[type=email]{
	width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
	  border: none;
  border-bottom: 2px solid white;
  padding: 10px;
  background: none;
  color: white;
  margin-bottom: 50px;
}


#volunteer form input[type=number]{
	width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
	  border: none;
  border-bottom: 2px solid white;
  padding: 10px;
  background: none;
  color: white;
  margin-bottom: 50px;
}

#volunteer form label{
	padding-right: 15px;
}

#volunteer form select{
	background: #FE08BD;
	border: none;
	color: white;
}

#volunteer form input[type=date]{
	background: #FE08BD;
	color: white;
	border: none;
	margin: 0;
	padding: 0;
}

#volunteer textarea{
	min-height: 100px;
	width: 100%;
	padding: 20px;
	background: rgba(255,255,255,0.5);
	border: none;
	color: white;
	margin-bottom: 30px;
}

#volunteer button{
	padding: 10px;
	width: 150px;
	border: none;
	background: white;
	color: #FE08BD;
	font-weight: bold;
}











/* thankyou */
#thankyou{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	text-align: center;
}

#thankyou .logo{
	background: url('../pictures/logo/i_rep_logo.png') no-repeat;
	background-size: cover;
	height: 4rem;
	width: 9rem;
}

#thankyou h2{
	font-weight: normal;
	font-family: Gotham-Thin;
	font-size: 3rem;
	padding: 50px 0 10px 0;
	color: #FE08BD;
}

#thankyou .volunteer_info{
	display: flex;
	flex-direction: column;
	font-family: Gotham-Book;
	font-size: 0.8rem;
	color: #800080;
	padding: 20px;
}

#thankyou button{
	padding: 10px 15px 10px 15px;
	font-size: 1rem;
	border: 1px solid #800080;
	background: none;
	color: #800080;
	border-radius: 100px;

}


#thankyou button i{
	padding-right: 60px;
}

#thankyou button:hover{
	border: 1px solid black;
	font-size: 1rem;
	color: black;
}

















/*FOOTER*/
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	color: white;
	background: #800080;
	padding: 20px 20px 20px 20px;
	min-height: 40vh;
	line-height: 1.2;	
	text-align: center;
	width: 100%;
}

footer .contact{
	padding-top: 20px;
	text-align: left;

}

footer .contact p{
	font-size: 0.9rem;
}

footer .footer_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer .footer_menu_box{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


footer .footer_menu{
	line-height: 1.5;
	text-align: left;
	padding: 20px 20px 20px 0px;
	font-size: 0.8rem;
}

footer .footer_menu a{
	text-decoration: none;	
	color: white;
	padding: 0px;
}

footer li{
	list-style-type: none;
}

footer a{
	text-decoration: none;
	color: white;
	padding: 10px;
}





















@media only screen and (max-width: 768px){

	#homepage{
		flex-direction: column;
		background-size: 100%;
		margin-top: 10vh;
	}

	#homepage h1{
		margin: 30vh 0 10px 0;

	}

	.btn_learn_more{
		margin-bottom: 20px;
	}

	#homepage .IDG2019{
		width: 80vw;
		border-radius: 10px;
		margin: 20px;
		box-shadow: 0 0px 25px 2px rgba(1,1,1,0.2);
	}

	#homepage .IDG2019 .day_content{
		flex-direction: column;
	}

	#org_intro .box{
		width: 100%;
	}

	#org_intro .quote{
	font-size: 2rem; 
	}

	#what_we_do .areas_of_work{
		width: 30%;
		height: 200px;
	}

	#partners .the_patners{
		width: 30%;
		height: 180px;
		padding: 5px;
	}

	header{
		display: none;
	}

	#nav-container{
		display: inline-block;
	}

	.scroll-indicator{
		display: none;
	}

	#org_intro .box{
		flex-direction: column;
		padding:0px;
		margin:0px;
	}

	#org_intro .box .box_mission{
		flex: 1;
		margin-bottom: 10px;
	}

	#org_intro .box .box_vision{
		flex: 1;
		margin-bottom: 10px;
	}

	#org_intro .box .box_goals{
		flex: 1;
		margin-bottom: 10px;
	}

	#video_launch .vid{
		width: 100%;
		min-height: 50vw;
		order: 2;
	}

	.vid iframe{
		width: 100%;		
	}

	#video_launch .info{
		width: 100%;
		order: 1;
		height: 70vw;
	}

	#video_launch .info:after{
		display: none;
	}

	#video_launch .info h5{
		display: block;
	}

	#video_launch .info h3{
		font-size: 15vw;		
	}

	#video_launch .info h4{
		font-size: 5vw;
	}

	#video_launch .info p{
		display: none;
	}

	#featured_stories .story_boxes{
		flex-direction: column;
		align-items: center;
	}

	#featured_stories .story_1{
		width: 95%;
		padding: 10px 0px 10px 0px;
	}

	#featured_stories .story_1 img{
		width: 10rem;
		height: 10rem;
	}

	#featured_stories .story_2{
		width: 95%;
		padding: 10px 0px 10px 0px;
	}
	

	#featured_stories .story_2 img{
		width: 10rem;
		height: 10rem;
	}

	#what_we_do .why_we_do h3{
		padding-top: 0px;
	}

	#team .the_team{
		flex-basis: 20rem;
	}

	#team .the_team p{
		padding-bottom: 30px;
	}

	#partners .the_patners{
		flex-basis: 50px;
	}

	#partners .the_patners img{
		width: 50px;
	}

	#connect .social_connect{
		border-radius: 50%;
		width: 20vw;
		height: 20vw;
		background: #EFEEEE;
		padding: 10px;	
	 	margin: 10px;
	}

	#join h2{
		font-size: 6vw;
	}

	#join .join_options{
		width: 100%;
		flex-direction: column;
		height: 200px;
	}

	#join .join_options a{
		width: 100%;
	}

	footer .contact{
		width: 150px;
	}


}




@media only screen and (max-width: 425px){
	#featured_stories .stories{
		width: 100%;
	}

	.top_bar img{
		width: 80px;
	}

	#i_am_responsible{
		flex-direction: column;
		align-items: flex-start;
	}

	#i_am_responsible .i_am_responsible_info{
	padding: 20px 0px 0px 0px;
	}

	#about_homepage{
		padding: 0 0 0 0;
		height: 25vh;
	}

	#about_homepage .about_home h1{
		font-size: 1.5rem;
		font-weight: bold;
		padding: 15vh 0px 10px 0px;
	}

	#background {
		padding: 10px 20px 50px 20px;
	}

	#advocacy{
		padding: 20px 10px 50px 10px;
	}

	#advocacy h3{
		font-size: 30px;

	}

	#team_about{
		background:none;
		padding: 20px 0px 0px 0px;
		color: black;
	}

	#team_about .team_about_members{
		flex-direction: column;
	}

	#team_about .team_about_mobile_pic{
		display: flex;
	}

	#team_about h3{
		font-size: 50px;
	}

	#team_about .team_about_members .team_Chairperson{
		background: none;
	}
	
	#team_about .team_about_members .team_Secretary{
		background: none;
	}
	
	#team_about .team_about_members .team_Treasurer{
		background: none;
	}

	#member1 .member1_pic{
		width: 70vw;
		height: 70vw;
	}

	#member1 h4{
		font-size: 1rem;
	}

	#member2 .member2_pic{
		width: 70vw;
		height: 70vw;
	}

	#member2 h4{
		font-size: 1rem;
	}

	#member3 .member3_pic{
		width: 70vw;
		height: 70vw;
	}

	#member3 h4{
		font-size: 1rem;
	}

	#member4 .member4_pic{
		width: 70vw;
		height: 70vw;
	}

	#member4 h4{
		font-size: 1rem;
	}

	#member5 .member5_pic{
		width: 70vw;
		height: 70vw;
	}

	#member5 h4{
		font-size: 1rem;
	}

	#member6 .member6_pic{
		width: 70vw;
		height: 70vw;
	}

	#member6 h4{
		font-size: 1rem;
	}



	#connect h6{
		font-size: 10vw;
	}

	#partners h3{
		font-size: .8rem;
	}

	#contact_page .contact_boxes{
		height: 78vh;
	}

	#contact_page .contact_boxes .contact_box{
		width:100%;
		padding: 10px;
	}

	footer .footer_menu{
		font-size: 0.5rem;
	}

	footer p{
		font-size: 0.5rem;
	}

	footer .contact p{
		font-size: 0.8rem;
	}




}


@media only screen and (min-width: 769px){

	#nav-container{
		display: none;
	}

}
